* {
  background-color: lightgrey;
}

body {
  font-family: 'Dosis', sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'Dosis', sans-serif;
}

main {
  display: grid;
  grid-template-areas: 
  'a b c d e';
  grid-gap: 10px;
}

.a {
  grid-area: a;
  background-color: blue;
  height: 400px;
}

.b {
  grid-area: b;
  background-color: green;
}

.c {
  grid-area: c;
  background-color: cornflowerblue;
}

.d {
  grid-area: d;
  background-color: wheat;
}

.e {
  grid-area: e;
  background-color: chocolate;
}

.color {
  border-radius: 10px;
}

.project-header {
  display: flex;
  justify-content:center;
}

.lock {
  height: 100px;
  background-color: darkgray;
}