* {
}

body {
  background-color: lightgrey;
  font-family: "Dosis", sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: center;
  margin: 10px 0px 10px 0px;
}

.mix-button {
  background-color: white;
  border-radius: 5px;
  height: 20px;
  margin: 0px 10px 5px 0px;
}

.project-create-button {
  border-radius: 5px;
  margin: 0px 0px 5px 10px;
}

h1 {
  font-family: "Dosis", sans-serif;
  margin: 0px;
}

main {
  display: grid;
  grid-template-areas: "a b c d e";
  grid-gap: 10px;
}

.a {
  background-color: #000000;
  grid-area: a;
  height: 350px;
}

.b {
  background-color: #000000;
  grid-area: b;
}

.c {
  background-color: #000000;
  grid-area: c;
}

.d {
  background-color: #000000;
  grid-area: d;
}

.e {
  background-color: #000000;
  grid-area: e;
}

.unlock {
  background-image: url(../assets/unlocked.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  display: flex;
  height: 20px;
  justify-content: center;
  justify-content: center;
  width: 100%;
}

button:focus {outline:0;}

.lock {
  background-image: url(../assets/locked.svg);
  background-repeat: no-repeat;
  display: flex;
  height: 20px;
  justify-content: center;
  width: 100%;
}

img {
  display: flex;
  justify-content: flex-start;
}

.color {
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 20px 0px grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-header {
  display: flex;
  justify-content: center;
}

.project-name-input {
  background-color: white;
  border-radius: 10px;
  border: none;
}

.save-palette {
  margin: 0px 30px 0px 30px;
  border-radius: 5px;
}

.palette-name-input { 
  border-radius: 5px;
  border: none;
}

.projects-form {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-name {
  display: inline;
}

.trash-btn {
  background-image: url(../assets/waste-bin.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  display: inline;
  height: 20px;
}

ul {
  list-style-type: none;
}

.palette-name-DOM {
  margin-right: 15px
}

.label {
  margin-right: 15px
}

.swatch-name {
  display: inline-block;
  margin-left: 20px;
}


.swatch1 {
  background-color: transparent;
  display: inline-block;
  height: 15px;
  width: 15px;
}

.swatch2 {
  background-color: transparent;
  display: inline-block;
  height: 15px;
  width: 15px;
}

.swatch3 {
  background-color: transparent;
  display: inline-block;
  height: 15px;
  width: 15px;
}

.swatch4 {
  background-color: transparent;
  display: inline-block;
  height: 15px;
  width: 15px;
}

.swatch5 {
  background-color: transparent;
  display: inline-block;
  height: 15px;
  width: 15px;
}
